:root {
    --profile-max-width: 500px;
    --profile-medium-max-width: 300px;
    --profile-small-max-width: 200px;
    --button-width: 150px;
    --button-height: 150px;
    --button-medium-width: 100px;
    --button-medium-height: 100px;
    --button-small-width: 75px;
    --button-small-height: 75px;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-fill {
    flex: 1;
}

.logo-circle {
    width: 20px;
    height: 20px;
}

.font-weight-bold {
    font-size: 25px;
}

.text-muted {
    font-size: 18px;
    font-weight: 600;
}

nav ul {
    font-size: 18px;
    font-weight: 600;
}

.profile-pic {
    width: 100%;
    max-width: var(--profile-max-width);
    aspect-ratio: 1 / 1; /* Maintain aspect ratio */
    object-fit: cover;
}

h1.display-1 {
    font-size: 100px; /* Default desktop size */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    text-align: left;
}

p.lead {
    font-size: 32px; /* Default desktop size */
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
}

p.custom-paragraph {
    font-size: 28px; /* Default desktop size */
    text-align: justify;
    /* word-break: break-all; */
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -0.05em;
    /* word-spacing:-2px; */
}

.custom-paragraph {
    max-width: calc(var(--button-width) * 3 + 2 * 16px); /* 3 buttons + 2 gaps (16px each) */
}

.project-desc {
    text-align: justify;
    color:#0F52BA;
}

.head-project-desc {
    color:#1F51FF;
    font-weight: bold;
}

.btn-circle {
    width: var(--button-width);
    height: var(--button-height);
    border-radius: 50%;
    border-color: black;
    border-width: 1.5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px; /* Default desktop size */
    font-weight: bold;
}

.custom-resume {
    background-color: #eea302;
    color: #000;
}

.custom-projects {
    background-color: #ff3b25;
    color: #000;
}

.custom-contact {
    background-color: #80d8da;
    color: #000;
}

/* Custom Submit Button Styles */
.custom-submit {
    /* border-radius: 50%;
    border-color: black;
    border-width: 1.5px;
    font-size: 1.5rem;
    font-weight: bold;
    width: var(--button-width);
    height: var(--button-height); */
    background-color: #eea302;
    color: #000;
}

#message {
    height: var(--button-height);
}

.publications {
    margin-top: 40px;
}

.publications h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.publications ul {
    list-style-type: none;
    padding: 0;
}

.publications ul li {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;
}

.publications ul li strong {
    font-weight: bold;
}

.publications ul li em {
    font-style: italic;
}

/* Footer Styles */
footer {
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 20px 0;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center; /* Center footer text */
}

.footer-info p {
    margin: 10px 0;
    font-size: 24px;
}

.footer-info a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.footer-info a i {
    margin-right: 8px;
}

/* Responsive Styles */
@media (max-width: 810px) {
    .logo-circle {
        width: 15px;
        height: 15px;
    }

    .font-weight-bold {
        font-size: 20px;
    }

    .text-muted {
        font-size: 14px;
        font-weight: 600;
    }

    nav ul {
        font-size: 18px;
        font-weight: 600;
    }

    .profile-pic {
        max-width: var(--profile-medium-max-width);
    }

    h1.display-1  {
        font-size: 80px;
    }

    p.lead {
        font-size: 22px; /* Adjusted for smaller screens */
    }

    p.custom-paragraph {
        font-size: larger; /* Adjusted for smaller screens */
    }

    .custom-paragraph {
        max-width: calc(var(--button-medium-width) * 3 + 2 * 13px); /* Adjust for smaller screens */
    }

    .btn-circle {
        width: var(--button-medium-width);
        height: var(--button-medium-height);
        font-size: larger; /* Adjusted for smaller screens */
    }

    #message {
        height: var(--button-medium-height);
    }

    .footer-info p {
        font-size: 18px;
    }
}

@media (max-width: 550px) {
    nav ul {
        display: none; 
    }

    .logo-circle {
        width: 10px;
        height: 10px;
    }

    .profile-pic {
        max-width: var(--profile-small-max-width);
    }

    h1.display-1, h1.display-4 {
        font-size: 40px;
    }

    p.lead {
        font-size: 20px; 
    }

    p.custom-paragraph {
        font-size: large; 
    }

    .custom-paragraph {
        max-width: calc(var(--button-medium-width) * 3 + 2 * 10px); 
    }

    .btn-circle {
        width: var(--button-small-width);
        height: var(--button-small-height);
        font-size: medium; 
    }

    #message {
        height: var(--button-small-height);
    }

    .footer-info {
        flex-direction: row; 
        justify-content: space-between;
    }

    .footer-info p {
        margin: 10px 5px;
        font-size: medium;
    }
}

/* Styles for collapsible navigation menu */
.navbar-toggle {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 1000;
}

.navbar-toggle-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
}

.navbar-toggle-icon::before,
.navbar-toggle-icon::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    /* background-color: #333; */
    background-color: black;

    transition: all 0.3s;
}

.navbar-toggle-icon::before {
    top: 8px;
}

.navbar-toggle-icon::after {
    bottom: 8px;
}

.navbar-toggle-icon span {
    display: block;
    width: 100%;
    height: 2px;
    /* background-color: #333; */
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-collapse {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-top: 1px solid #ddd;
    position: absolute;
    top: 60px; /* Adjust according to header height */
    right: 0;
    left: 0;
    z-index: 999;
}

.navbar-collapse.open {
    display: flex;
}

.nav-item {
    padding: 0.5rem 1rem;
}

/* Show the toggle button for smaller screens */
@media (max-width: 750px) {
    .navbar-toggle {
        display: block;
    }

    nav ul {
        display: none;
    }
}

/* Project page style */
/* Style the toggle button */
.toggle-button {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #6F8FAF;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

.toggle-button:focus {
    outline: none;
}

/* Adjust the collapse section */
.collapse {
    margin-top: 10px;
}

.project-description.open {
    display: block;
}
